<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindskip.xzs.repository.ExamPaperMapper">
  <resultMap id="BaseResultMap" type="com.mindskip.xzs.domain.entity.ExamPaper">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="createUser" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="origin_max_score_combination" jdbcType="VARCHAR" property="originMaxScoreCombination" />
    <result column="max_score_combination" jdbcType="VARCHAR" property="maxScoreCombination" />
    <result column="max_rank" jdbcType="INTEGER" property="maxRank" />
    <result column="origin_normal_score_combination" jdbcType="VARCHAR" property="originNormalScoreCombination" />
    <result column="normal_score_combination" jdbcType="VARCHAR" property="normalScoreCombination" />
    <result column="normal_rank" jdbcType="INTEGER" property="normalRank" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, title, version, origin_max_score_combination, max_score_combination, max_rank, origin_normal_score_combination, max_normal_score_combination, normal_rank, create_time, update_time, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_exam_paper
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_exam_paper
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mindskip.xzs.domain.entity.ExamPaper" useGeneratedKeys="true" keyProperty="id">
    insert into t_exam_paper (id, user_id, title, version,
      origin_max_score_combination, max_score_combination, max_rank, origin_normal_score_combination, normal_score_combination, normal_rank,
      create_time, update_time, deleted
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR},
      #{originMaxScoreCombination,jdbcType=VARCHAR}, #{maxScoreCombination,jdbcType=VARCHAR}, #{maxRank,jdbcType=INTEGER}, #{originNormalScoreCombination,jdbcType=VARCHAR}, #{normalScoreCombination,jdbcType=VARCHAR}, #{normalRank,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mindskip.xzs.domain.entity.ExamPaper" useGeneratedKeys="true" keyProperty="id">
    insert into t_exam_paper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="originMaxScoreCombination != null">
        origin_max_score_combination,
      </if>
      <if test="maxScoreCombination != null">
        max_score_combination,
      </if>
      <if test="maxRank != null">
        max_rank,
      </if>
      <if test="originNormalScoreCombination != null">
        origin_normal_score_combination,
      </if>
      <if test="normalScoreCombination != null">
        normal_score_combination,
      </if>
      <if test="normalRank != null">
        normal_rank,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="originMaxScoreCombination != null">
        #{originMaxScoreCombination,jdbcType=VARCHAR},
      </if>
      <if test="maxScoreCombination != null">
        #{maxScoreCombination,jdbcType=VARCHAR},
      </if>
      <if test="maxRank != null">
        #{maxRank,jdbcType=INTEGER},
      </if>
      <if test="originNormalScoreCombination != null">
        #{originNormalScoreCombination,jdbcType=VARCHAR},
      </if>
      <if test="normalScoreCombination != null">
        #{normalScoreCombination,jdbcType=VARCHAR},
      </if>
      <if test="normalRank != null">
        #{normalRank,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mindskip.xzs.domain.entity.ExamPaper">
    update t_exam_paper
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="originMaxScoreCombination != null">
        origin_max_score_combination = #{originMaxScoreCombination,jdbcType=VARCHAR},
      </if>
      <if test="maxScoreCombination != null">
        max_score_combination = #{maxScoreCombination,jdbcType=VARCHAR},
      </if>
      <if test="maxRank != null">
        max_rank = #{maxRank,jdbcType=INTEGER},
      </if>
      <if test="originNormalScoreCombination != null">
        origin_normal_score_combination = #{originNormalScoreCombination,jdbcType=VARCHAR},
      </if>
      <if test="normalScoreCombination != null">
        normal_score_combination = #{normalScoreCombination,jdbcType=VARCHAR},
      </if>
      <if test="normalRank != null">
        normal_rank = #{normalRank,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mindskip.xzs.domain.entity.ExamPaper">
    update t_exam_paper
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      origin_max_score_combination = #{originMaxScoreCombination,jdbcType=VARCHAR},
      max_score_combination = #{maxScoreCombination,jdbcType=VARCHAR},
      max_rank = #{maxRank,jdbcType=INTEGER},
      origin_normal_score_combination = #{originNormalScoreCombination,jdbcType=VARCHAR},
      normal_score_combination = #{normalScoreCombination,jdbcType=VARCHAR},
      normal_rank = #{normalRank,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>
