<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindskip.xzs.repository.PainPointMapper">
    <resultMap id="BaseResultMap" type="com.mindskip.xzs.domain.entity.PainPoint">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="subject" jdbcType="INTEGER" property="subject"/>
        <result column="subject_name" jdbcType="VARCHAR" property="subjectName"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, subject, subject_name, level, name, description
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_pain_point
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_pain_point
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.mindskip.xzs.domain.entity.PainPoint" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_pain_point (id, `subject`, subject_name, level, name, description)
        values (#{id,jdbcType=INTEGER}, #{subject,jdbcType=INTEGER}, #{subjectName,jdbcType=VARCHAR},
                #{level,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.mindskip.xzs.domain.entity.PainPoint" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_pain_point
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="subject != null">
                `subject`,
            </if>
            <if test="subjectName != null">
                subject_name,
            </if>
            <if test="level != null">
                level,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="subject != null">
                #{subject,jdbcType=INTEGER},
            </if>
            <if test="subjectName != null">
                #{subjectName,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mindskip.xzs.domain.entity.PainPoint">
        update t_pain_point
        <set>
            <if test="subject != null">
                `subject` = #{subject,jdbcType=INTEGER},
            </if>
            <if test="subjectName != null">
                subject_name = #{subjectName,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mindskip.xzs.domain.entity.PainPoint">
        update t_pain_point
        set `subject`    = #{subject,jdbcType=INTEGER},
            subject_name = #{subjectName,jdbcType=VARCHAR},
            level        = #{level,jdbcType=INTEGER},
            name         = #{name,jdbcType=VARCHAR},
            description  = #{description,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>


    <select id="selectBySubjectAndLevel" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_pain_point
        where subject = #{subject,jdbcType=INTEGER} and level = #{level,jdbcType=INTEGER}
    </select>

</mapper>
