<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindskip.xzs.repository.QuestionMapper">
    <resultMap id="BaseResultMap" type="com.mindskip.xzs.domain.entity.Question">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="target_type" jdbcType="VARCHAR" property="targetType"/>
        <result column="subject" jdbcType="VARCHAR" property="subject"/>
        <result column="scene" jdbcType="VARCHAR" property="scene"/>
        <result column="weight" jdbcType="DECIMAL" property="weight"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_by" jdbcType="INTEGER" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="INTEGER" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="deleted" jdbcType="BIT" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, target_type, subject, scene, weight, content, create_by, create_time, update_by, update_time, deleted
</sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_question
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from t_question
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.mindskip.xzs.domain.entity.Question" useGeneratedKeys="true" keyProperty="id">
        insert into t_question (id, target_type, subject, scene, weight, content, create_by, create_time, deleted)
        values (#{id,jdbcType=INTEGER}, #{targetType,jdbcType=VARCHAR}, #{subject,jdbcType=VARCHAR}, #{scene,jdbcType=VARCHAR}, #{weight,jdbcType=DECIMAL}, #{content,jdbcType=VARCHAR},
                #{createBy,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.mindskip.xzs.domain.entity.Question" useGeneratedKeys="true"
            keyProperty="id">
        insert into t_question
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="targetType != null">
                target_type,
            </if>
            <if test="subject != null">
                subject,
            </if>
            <if test="scene != null">
                scene,
            </if>
            <if test="weight != null">
                weight,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="deleted != null">
                deleted,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="targetType != null">
                #{targetType,jdbcType=VARCHAR},
            </if>
            <if test="subject != null">
                #{subject,jdbcType=VARCHAR},
            </if>
            <if test="scene != null">
                #{scene,jdbcType=VARCHAR},
            </if>
            <if test="weight != null">
                #{weight,jdbcType=DECIMAL},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.mindskip.xzs.domain.entity.Question">
        update t_question
        <set>
            <if test="targetType != null">
                target_type = #{targetType,jdbcType=VARCHAR},
            </if>
            <if test="subject != null">
                subject = #{subject,jdbcType=VARCHAR},
            </if>
            <if test="scene != null">
                scene = #{scene,jdbcType=VARCHAR},
            </if>
            <if test="weight != null">
                weight = #{weight,jdbcType=DECIMAL},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                deleted = #{deleted,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.mindskip.xzs.domain.entity.Question">
        update t_question
        set target_type = #{targetType,jdbcType=VARCHAR},
            scene       = #{scene,jdbcType=VARCHAR},
            subject     = #{subject,jdbcType=VARCHAR},
            weight      = #{weight,jdbcType=DECIMAL},
            content     = #{content,jdbcType=VARCHAR},
            create_by   = #{createBy,jdbcType=INTEGER},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            deleted     = #{deleted,jdbcType=BIT}
        where id = #{id,jdbcType=INTEGER}
    </update>

</mapper>