<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindskip.xzs.repository.UserAssessmentQuotaMapper">
  <resultMap id="BaseResultMap" type="com.mindskip.xzs.domain.entity.UserAssessmentQuota">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="available_count" jdbcType="INTEGER" property="availableCount" />
    <result column="used_count" jdbcType="INTEGER" property="usedCount" />
    <result column="total_count" jdbcType="INTEGER" property="totalCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, user_id, version, available_count, used_count, total_count,
    create_time, update_time, deleted
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_assessment_quota
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUserId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_assessment_quota
    where user_id = #{userId,jdbcType=INTEGER}
    and deleted = 0
    order by version
  </select>
  
  <select id="selectByUserIdAndVersion" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_assessment_quota
    where user_id = #{userId,jdbcType=INTEGER}
    and version = #{version,jdbcType=VARCHAR}
    and deleted = 0
  </select>
  
  <select id="checkQuotaAvailable" resultType="boolean">
    select count(*) > 0
    from t_user_assessment_quota
    where user_id = #{userId,jdbcType=INTEGER}
    and version = #{version,jdbcType=VARCHAR}
    and available_count >= #{requiredCount,jdbcType=INTEGER}
    and deleted = 0
  </select>
  
  <update id="increaseQuota">
    update t_user_assessment_quota
    set available_count = available_count + #{count,jdbcType=INTEGER},
        total_count = total_count + #{count,jdbcType=INTEGER},
        update_time = now()
    where user_id = #{userId,jdbcType=INTEGER}
    and version = #{version,jdbcType=VARCHAR}
    and deleted = 0
  </update>
  
  <update id="decreaseQuota">
    update t_user_assessment_quota
    set available_count = available_count - #{count,jdbcType=INTEGER},
        used_count = used_count + #{count,jdbcType=INTEGER},
        update_time = now()
    where user_id = #{userId,jdbcType=INTEGER}
    and version = #{version,jdbcType=VARCHAR}
    and available_count >= #{count,jdbcType=INTEGER}
    and deleted = 0
  </update>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_assessment_quota
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.mindskip.xzs.domain.entity.UserAssessmentQuota" useGeneratedKeys="true" keyProperty="id">
    insert into t_user_assessment_quota (user_id, version, available_count,
      used_count, total_count, create_time, update_time, 
      deleted)
    values (#{userId,jdbcType=INTEGER}, #{version,jdbcType=VARCHAR}, #{availableCount,jdbcType=INTEGER},
      #{usedCount,jdbcType=INTEGER}, #{totalCount,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleted,jdbcType=BIT})
  </insert>
  
  <insert id="insertSelective" parameterType="com.mindskip.xzs.domain.entity.UserAssessmentQuota" useGeneratedKeys="true" keyProperty="id">
    insert into t_user_assessment_quota
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="availableCount != null">
        available_count,
      </if>
      <if test="usedCount != null">
        used_count,
      </if>
      <if test="totalCount != null">
        total_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="availableCount != null">
        #{availableCount,jdbcType=INTEGER},
      </if>
      <if test="usedCount != null">
        #{usedCount,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.mindskip.xzs.domain.entity.UserAssessmentQuota">
    update t_user_assessment_quota
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="assessmentType != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="availableCount != null">
        available_count = #{availableCount,jdbcType=INTEGER},
      </if>
      <if test="usedCount != null">
        used_count = #{usedCount,jdbcType=INTEGER},
      </if>
      <if test="totalCount != null">
        total_count = #{totalCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.mindskip.xzs.domain.entity.UserAssessmentQuota">
    update t_user_assessment_quota
    set user_id = #{userId,jdbcType=INTEGER},
      version = #{version,jdbcType=VARCHAR},
      available_count = #{availableCount,jdbcType=INTEGER},
      used_count = #{usedCount,jdbcType=INTEGER},
      total_count = #{totalCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>


